$colors: (
    "black": #000000,
    "blue": #0C1020,
    "gray": #D5D5D5,
    "pink": #D99E94
);
$browser_context: 16; // Default

@function rem($pixels, $context: $browser_context) {
    @return #{$pixels/$context}rem;
} 
  
@function em($pixels, $context: $browser_context) {
    @return #{$pixels/$context}em;
} 
$margin: em(125); 
$header_h: 140px;
$header_intro_h: 152px;
$mobile: 430px;

$curve: cubic-bezier(0.07, 0.41, 0, 1.02);
