@import 'styles.scss';
@import 'variables.scss';

body{
    background: #A3ADB6;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#headerIntro{
    width: 100vw;
    height: $header_intro_h;
    background: #FFCC33;
    position: absolute;
    transition: all 0.5s $curve;
    z-index: 9;
    &.hide{
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }
}
$buttons_top: 250px;
$buttons_m: 80px;
.arrow{
    position: fixed;
    top: $buttons_top;
    padding: 6px;
    z-index: 9;
    cursor: pointer;
    svg{
        width: 100%;
        height: 100%;
        overflow: visible;
        transition: transform 1.5s $curve;
    }
    &#prev{
        width: 38px;
        height: 38px;
        left: $buttons_m;
    }
    &#next{
        width: 60px;
        height: 60px;
        right: $buttons_m;
    }
    &:hover{
        svg{
            transform: scale(0.8);
        }
    }
}
#mainSkip{
    position: fixed;
    z-index: 9;
    top: $buttons_top + 90px;
    right: $buttons_m + 25px;
}
#bus{
    fill: white;
    position: absolute;
    bottom: 80px;
    z-index: 99;
    left: 240px;
    height: 190px;
}
.skip{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    span{
        font-family: Arimo;
        font-size: em(15);
        letter-spacing: 0;
        color: inherit;
    }
    svg{
        width: 25px;
        height: 25px;
        margin-left: 6px;
        fill: currentColor;
        transition: transform 1.5s $curve;
    }
    &:hover{
        svg{
            transform: scale(0.9) translateX(10px);
        }
    }
}
#scrollMask{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    #container{
        height: 100%;
        width: auto;
        white-space: nowrap;
    }
    $offset: 120px;
    section{
        width: 100vw;
        height: 100%;
        overflow: visible;
        display: inline-block;
        vertical-align: top;
        .columns{
            display: flex;
            height: calc(100% - 270px);
            position: relative;
            $m: 24px;
            > * {
                width: calc(100% / 3);
                height: 100%;
                box-sizing: border-box;
                padding: $m 20px;
                padding-left: 10px;
                white-space: normal;
                font-size: em(24);
                letter-spacing: 0;
                line-height: em(28, 24);
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    border: none;
                }
                p{
                    margin: 0;
                }
                hr{
                    
                    border: 0.5px solid currentColor;
                    margin: 0;
                    position: absolute;
                    height: calc(100% - #{$m});
                    right: 0;
                    top: $m;
                    transform-origin: 0% 0%;
                }
            }
        }
        &.with-bg{
            width: calc(100vw - #{$offset});
            color: #FFFFFF;
            position: relative;
            padding: 80px 120px;
            padding-top: $header_h;
            box-sizing: border-box;
            h1{
                font-size: em(144);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0;
                line-height: em(134, 144);
                margin-top: 0;
                margin-bottom: 0;
            }
            .bg{
                width: 100vw;
                height: 100%;
                position: absolute;
                top: 0;
                left: -$offset;
                z-index: -1;
            }
        }
    }
    #intro{
        height: calc(100vh - #{$header_intro_h});
        padding-top: $header_intro_h;
        position: relative;
        .content{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .text{
            margin-right: -200px;
            margin-top: em(60);
        }
        .skip{
            position: absolute;
            bottom: 80px;
            color: #4A4A4A;
            span{
                font-size: em(22);
                font-weight: bold;
            }
        }
        hr{
            width: 0;
            border: 5px solid white;
            margin: 0;
            transform: translateY(-90px) translateX(4px);
            z-index: 0;
            position: absolute;
        }
        h1{
            color: white;
            position: relative;
            z-index: 2;
        }
        h2{
            font-weight: 400;
            font-size: 43px;
            color: #4A4A4A;
            letter-spacing: 0;
            line-height: 49px;
            //max-width: 350px;
            white-space: normal;
        }
        .bg{
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: #DED8CB;
        }
        .img-container{
            width: 55%;
            height: calc(100vh - #{$header_intro_h});       
            position: relative;
            z-index: 0;     
            .mask{
                width: 0%;
                height: 100%;
                overflow: hidden;
            }
            .img{
              width: 55vw;          
              height: 100%;
              background-image: url('../assets/img/girl1.jpg');
              background-size: cover;
              background-position: center;
            }
        }
    }
    #harassment{
        h1{
        }
        .bg{
            background: #B73718;
        }
        #mainLine{
            color: white;
            width: calc(360vw - 100px);
            border: 6px solid currentColor;    
            margin: 0;
            position: absolute;
            left: -4px;

        }
        $middle_w: 310px;
        .col{
            width: calc((60% - #{$middle_w}) / 2);
        }
        .col:nth-child(2){
            max-width: 310px;
        }
        @media screen and (max-width: 1700px){
            .col{
                width: calc((80% - #{$middle_w}) / 2);
            }
        }
        @media screen and (max-width: 1500px){
            .col, .col:nth-child(2){
                width: calc(100% / 3);
            }
        }
    }
    #srilanka{
        .bg{
            background: #CF7B66;
        }
        .col{
            width: 300px;
            padding: 24px 10px;
            .content{
                .stat{
                    border-bottom: 1px solid white;
                    display: flex;
                    align-items: flex-end;
                    height: 148px;
                    margin-bottom: 15px;
                    .number{
                        margin: 0;
                        font-size: em(41);
                        letter-spacing: 0;
                        font-family: Anton;
                        transform: translateY(-19px);
                        font-weight: normal
                    }
                    svg{
                        width: 63px;
                        transform: translateY(-43px);
                    }
                    span{
                        font-size: em(8);
                    }
                }
            }
            &:first-child .stat {
                align-items: center;
                .number{
                    font-size: em(90);
                    line-height: normal;
                    transform: none;
                }
            }
        }
        
        
    }
    #video{
        padding-left: 0;
        .content{
            width: 80%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 0 5px;
            position: relative;
        }
        .video-container{
            height: 550px;
            figure{
                background-image: url('../assets/img/video_cover.jpg');
            }
        }
        .bg{
            background: #56281D;
        }
    }
    #stories{
        width: 100vw;
        //left: -100vw;
        //top: 100vh;
        //height: 300vh;
        //opacity: 0;
        h1{
        }
        .bg{
            background: #A3ADB6;
            /*width: 100vw;
            left: 0;*/
        }
        p{
            font-size: em(32);
            letter-spacing: 0;
            line-height: em(38, 32);
            max-width: em(540, 32);
            white-space: normal;
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            max-width: 1100px;

            $m: 20px;
            margin-left: -$m/2;
            margin-bottom: 100px;
            margin-top: 100px;
            //padding-left: $m / 2;
            .card{
                width: calc(50% - #{$m});
                margin: $m / 2;
                padding: $m;
                border: 1px solid white;
                box-sizing: border-box;
                cursor: pointer;
                transition: background 0.5s $curve;
                .header{
                    width: 100%;
                    padding-bottom: $m / 2;
                    margin-bottom: $m;
                    color: white;
                    border-bottom: 1px solid currentColor;
                    transition: all 0.5s $curve;
                    h3{
                        font-family: Anton;
                        font-weight: 400;
                        font-size: em(62);
                        line-height: 60px;
                        letter-spacing: 0;
                        margin: 0;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke: 1px currentColor;
                        //transition: all 0.5s $curve;
                    }
                }
                .img{
                    width: 100%;
                    height: 496px;
                    background-image: url('../assets/img/story1.jpg');
                    background-position: center;
                    background-size: cover;
                    filter: contrast(0.5) grayscale(1) brightness(2.1);
                    opacity: 0.1;
                    transition: all 0.5s $curve;
                }
                &:hover{
                    background: white;
                    .img{
                        filter: none;
                        opacity: 1;
                    }
                    .header{
                        color: #A3ADB6;
                        h3{
                            -webkit-text-fill-color: #A3ADB6;
                            -webkit-text-stroke: 1px white;
                        }
                    }
                }
            }
        }
        footer{
            background-color: white;
            width: calc(100% + #{$offset} * 2);
            margin-left:  -$offset * 2;
            box-sizing: border-box;
            padding: 80px $offset * 2;
            p{
                font-family: Crimson Text;
                color: #4A4A4A;
                font-style: italic;
            }
        }
    }
}