@import 'styles.scss';
@import 'variables.scss';
body{
    background: #CF7B66; 
    color: white;
}
#story{
    width: 100%;
    padding-bottom: 100px;
    blockquote{
        font-size: em(144);
        margin: 0;
        max-width: em(750, 144);
        span{
            position: absolute;
            display: inline-block;
            transform: translateX(-100%);
        }
    }
    #cover{
        .img-container{
            width: 100%;
            height: 100vh;
            .img{
                width: 100%;
                height: 100%;
                background-image: url('../assets/img/story1_cover.jpg');
                background-size: cover;
                background-position: center;
            }
        }
        .title{
            transform: translateY(-100px);
            .name{
                font-size: em(48);
                font-weight: 400;
                letter-spacing: 0; 
                line-height: em(38, 48);
                margin: 0;
            }
        }
    }
    section{
        p{
            font-size: em(32);
            letter-spacing: 0;
            line-height: em(38, 32);
            margin: 0;
        }
        &.full-width{
            width: 100%;
            height: 110vh;
            figure{
                width: 100%;
                height: 100%;
                background-image: url('../assets/img/story1_cover.jpg');
                background-size: cover;
                background-position: center;
            }
            
        }
        &:not(.full-width){
            align-items: flex-end;
            > *:first-child{
                transform: translateY(35%);
                margin-right: 20px;
            }
            > *:last-child{
                transform: translateY(-10%);
            }
        }
        &.margin-default + section{
            transform: translateY(calc(-#{$margin} - 50px)); 
            > *:first-child{
                transform: translateY(35%);
                margin-right: 20px;
                &.video-element{
                    margin-right: 80px;
                }
            }
            > *:last-child{
            }
        }
    }
    .container:not(.title){
        padding-top: $margin;
        padding-bottom: $margin;
        blockquote{
            max-width: 920px;
        }
    }
    .video-element{
        width: 380px;
        min-width: 380px;
        .video-container{
            //height: em(570);
        }
        .share{ 
            width: em(38);
            height: em(38);
            margin-top: em(12);
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}