@import 'normalize.scss';
@import 'variables.scss';
@import 'fonts.scss';

*{
    -webkit-font-smoothing: antialiased !important;
    font-smooth: almays;
    text-shadow: 0px 0px 1px transparent;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: Crimson Text;
}
.flex{
    display: flex;
}
.margin-default{
    margin-top: $margin; 
    margin-bottom: $margin;
}
#mainHeader{
    width: 100vw;
    height: $header_h;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: white;

    #logo{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        img{
            height: 30px;
        }
        h1{
            font-family: Arimo;
            font-weight: 300;
            font-size: 13px;
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid currentColor;
            transition: all 0.5s $curve;
        }
    }
    #circles{
        display: flex;
        align-items: center;
        transition: all 0.5s $curve;
        .circle{
            width: 8px;
            height: 16.8px;
            margin-right: 30px;
            position: relative;
            &::before{
                content: '';
                width: 8px;
                height: 8px;
                display: block;
                border: 2px solid white;
                border-radius: 50%;
                transition: all 0.5s $curve;
                cursor: pointer;
            }
            &::after{
                content: '';
                width: 29px;
                height: 2px;
                left: calc(100% + 2px);
                top: 5px;
                position: absolute;
                background: white;
                transition: all 0.5s $curve;
            }   
            &:last-child{
                margin-right: 0;
                &::after{
                    content: none;
                }
            }
            &.seen{
                &::before{
                    background: white;
                }
                &::after{
                    transform: scaleY(2);
                }
            }
            &.active{
                &::before{
                    background: white;
                    transform: scale(1.4);
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        #langs{
            span{
                font-family: Arimo;
                font-size: em(15);
                letter-spacing: 0;
                display: inline-block;
                padding: 6px 10px;
                cursor: pointer;
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
        #share{
            width: 80px;
            height: 80px;
            padding: 8px;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: 25px;
            margin-right: 10px;
            svg{
                width: 100%;
                height: 100%;
            }
        }
        #menuToggle{
            width: 60px;
            height: 60px;
            padding: 15px;
            box-sizing: border-box;
            cursor: pointer;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
    &.sticky{
        #logo h1, #circles{
            pointer-events: none;
        }
        #circles{
            opacity: 0;
            transform: scale(0.8) translateY(-50%);
        }
        #logo{
            h1{
                opacity: 0;
                transform: translateY(-50%);
            }
        }
    }
}
.title-h1{
    font-family: Anton;
    font-size: em(144);
    letter-spacing: 0;
    line-height: em(134, 144);
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    span{
        display: inline-block;
        min-width: 32px;
    }
}
.video-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: em(470);
    &-overlay{ 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 3;
        transform: translateX(-100%);
        pointer-events: none;
    }
    
    &-cover{
        background-size: cover;
        background-position: center;
        position: absolute; 
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        background-image: url('../assets/img/video_story1_cover.jpg');
    }
    &-button{
        $button_size: em(120);
        width: $button_size;
        height: $button_size;

        background: transparent;
        border: none;

        position: absolute;
        z-index: 2;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }
    video{
        width: 100%;
        height: auto;
        object-position: center;
        object-fit: cover;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .playing{
        video{
            opacity: 1;
        }
    }
    &.video-front{
        video{
            position: relative;
            z-index: 4;
        }
    }
    @media screen and(max-width: $mobile){
        height: em(250);
        .video-button{
            $button_size: em(70);
            width: $button_size;
            height: $button_size;
        }
    }
}
@media only screen and (min-width: 75em){
    .container {
        width: 59rem;
    }
}